pyrogram
 tgcrypto 
 pymongo[srv] 
 motor 
 marshmallow 
 umongo 
 requests 
 bs4 
 git+https://github.com/Joelkb/cinemagoer 
 shortzy 
 datetime 
 pytz 
 aiohttp

#---master---# 
 #Telethroid==0.0.10 
 PyLeaves==1.0.2 
  
  
 
 #---ytdl----# 
 ffmpeg
youtube_search
youtube-search-python
yt-dlp
youtube-dl
requests 
  

  
 #---others----# 
 opencv-python-headless 
 googletrans 
 telegraph 
 python-dotenv 
 gTTS
 speedtest
 humanize
 Pillow 
 psutil 
 NumPy 
 wheel 
 ujson 
 wget 
 pytz
 aiofiles
 dnspython==2.3.0
 ### googletrans==4.0.0-rc1 ###
python-decouple
ffmpeg-python>=0.2.0
ytthumb

jinja2
apscheduler
pyshorteners
pyromod
colorama
openai



  
